<div class="row">
	<main class="col-md-12">
		<H1>Professional Greeting</H1>
        <P>Welcome to my website! I will be demonstrating HTML5 techniques, and routing in ExpressJS.</P>
        <H1>Reflection: First half of WEB322</H1>
        <p>I have learnt the basic usage of ExpressJS. Based on WEB222, I also have known more about NodeJS, using NPM functions to work with JSON files, Node's global varibles, properties and functions, etc.</p>
        <H1>Introducion of HTML 5</H1>
        <p>The term HTML5 is essentially a buzzword that refers to a set of modern web technologies. This includes the HTML Living Standard, along with JavaScript APIs to enhance storage, multimedia, and hardware access.
            You may sometimes hear about "new HTML5 elements", or find HTML5 described as a new version of HTML. HTML5 was the successor to previous HTML versions and introduced new elements and capabilities to the language on top of the previous version, HTML 4.01, as well as improving or removing some existing functionality. However, as a Living Standard HTML now has no version. The up-to-date specification can be found at html.spec.whatwg.org/.
            Any modern site should use the HTML doctype — this will ensure that you are using the latest version of HTML.</p><code>-- from developer.mozilla.org</code>
	</main>
</div>