<div class="row">
	<main class="col-md-12">
		<H1>Professional Greeting</H1>
        <P>Welcome to my website!.</P>
        <H1>Reflection: First half of WEB322</H1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum blanditiis aut commodi ullam, nam, modi reprehenderit vitae dolorum praesentium totam consectetur dignissimos itaque tenetur delectus! Iste repellat maxime temporibus. Facere!</p>
        <H1>Introducion of HTML 5</H1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus cupiditate magni accusantium quia animi maxime voluptates perspiciatis fugit vitae unde aut ipsam, veniam ratione veritatis cumque natus, ipsa itaque et!</p><code>-- from developer.mozilla.org</code>
	</main>
</div>