<div class="row">
	<main class="col-md-12">
            <h2>Login</h2>
            <hr />

            {{#if errorMsg}}
                <h5>{{errorMsg}}&nbsp;</h5>
            {{/if}}
            
            <form method="post" action="/login">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="username">User Name</label>
                            <input class="form-control" id="username" name="username" type="text"/>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" id="password" name="password" type="password"/>
                        </div>
                    </div>
                </div>
                <hr />
                <input type="submit" class="btn btn-primary float-right" value="Login User">
            </form>
	</main>
</div>